.main{
    /* background-color: transparent; */
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */

}
.text{
    margin: 15px;
    color: black;
    padding: 20px;
}
.sub{
    margin: 10px;
}
.sub2{
    margin: 5px;
    background-color: rgb(186, 184, 175);
    /* color: white; */
    padding: 50px;
    font-weight: bold;
    font-size: large;
}

.test{
    background-color: aqua;
}
.result{
    border: 1px solid black;
    font-weight: bold;
    font-size: 22px;
}
.sub3{
    background-color: rgb(120, 120, 120);
    color: white;
}
.items{
    background-color: rgb(43, 57, 61);
    border: 1px solid black;
    height: 200px;
    width: 300px;
    float: left;
    margin: 5px;
    color: white;
    justify-content: center;
}
.items p{
    text-align: left;
}
.items h4{
    text-align: center;
}
.items h3{
    text-align: center;
}
.items img{
    height: 200px;
    width: 200px;
    margin-left: 40px;
}
.data{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    float: left;
}

table,th,td{
    border: 2px solid black;
}
table{
    margin-left: 270px;
    border-collapse: collapse;
}
th{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: black;
}