.main{
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
}
.text{
    margin: 15px;
    color: black;
    padding: 20px;
}
.sub{
    margin: 10px;
}
.sub2{
    margin: 5px;
    background-color: rgb(186, 184, 175);
    /* color: white; */
    padding: 50px;
    font-weight: bold;
    font-size: large;
}

.test{
    background-color: aqua;
}
.result{
    border: 1px solid black;
    font-weight: bold;
    font-size: 22px;
}
.sub3{
    background-color: rgb(120, 120, 120);
    color: white;
}